/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --is-dark: visible;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --answer-text-color: #f1b2ce;
    --border-color-opacity: #ff007066;
    --background-color: #000028;

    --page-bg-color: var(--background-color);
    --header-text-bg-color: var(--accent-color);
    --header_text-color: var(--background-color);
    --question-color: var(--accent-color);
    --advice-title-color: var(--background-color);
    --advice-title-bg-color: var(--accent-color);
    --button-color: var(--accent-color);
    --rec-color: var(--accent-color);
    --answer-title-bg-color: var(--accent-color);
    --decoration-color: var(--accent-color);
    --background-image: url("../images/cover-image-dark.png");
    --question-bg-color: var(--background-color);
    --answer-title-color: var(--background-color);
    --answer-text-bg-color: var(--background-color);

    --header-margin-left: min(10px, 20px - 2.6vw);
    --regular-gap: 10px;
    --decoration-gap: clamp(10px, 2.65vw, 20px); /* vw - процент от ширины браузера, clamp - ограничивает значение диапазоном */
    --min-height: 668px;
    --section-child-margin: 40px;
    --rec_empty_x_pos: 30px;
    --base-font-size: 18px;
    --regular-line-height: 100%;
    --font-family: "IBM Plex Mono", "Arial", sans-serif;
}